<form class="layui-form layui-box" style='padding:25px 30px 20px 0' action="__SELF__" data-auto="true" method="post">

    <div class="layui-form-item">
        <label class="layui-form-label">标题</label>
        <div class="layui-input-block">
            {if $vo and isset($vo.title)}
            <input name="title" value='{$vo.title|default=""}'
                   required="required" title="请输入标题" placeholder="请输入标题" class="layui-input">
            {else}
            <input name="title" value='{$vo.title|default=""}' required="required" pattern="^.{1,}$"
                   title="请输入文章标题" placeholder="请输入" class="layui-input">
            {/if}
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">作者</label>
        <div class="layui-input-block">
            <input type="tel" autofocus name="author" value='{$vo.author|default=""}' pattern="^.{1,}$"
                   required="required" title="请输入作者" placeholder="请输入作者" class="layui-input">
        </div>
    </div>
    <!--封面 start -->

    <div class="layui-form-item">
        <label class="layui-form-label">封面</label>
        <div class="layui-input-block">
            {if isset($vo.pic_url)}
            <div class='col-sm-8'>
                <img data-tips-image style="height:auto;max-height:32px;min-width:32px" src='{$vo.pic_url|default=""}'/>
                <input type="hidden" name="pic_url" onchange="$(this).prev('img').attr('src', this.value)"
                       value='{$vo.pic_url|default=""}' class="layui-input">
                <input type="hidden" name="pic_url">
                <a data-file="mut" data-field="pic_url" data-type="png,jpg" data-uptype="local" href="javascript:void(0)">上传图片</a>
            </div>
            {else}
                <input type="hidden" name="pic_url" id="add">
                <a data-file="mut" data-field="pic_url" data-type="png,jpg" data-uptype="local" href="javascript:void(0)">上传图片</a>
            {/if}
        </div>
    </div>
    <!--封面 end -->
    <div class="layui-form-item">
        <label class="layui-form-label">内容</label>
        <div class="layui-input-block">
            <textarea name="content" rows="25" cols="100">{$vo.content|default=""}</textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-block">
            {if $vo and isset($vo.status)}
                {if $vo.status eq 1}
                    <label class="think-checkbox">
                        <input type="radio" checked name="status" value='{$vo.status|default="1"}' lay-ignore> 通过
                    </label>
                    <label class="think-checkbox">
                        <input type="radio" name="status" value='0' lay-ignore> 审核
                    </label>
                {else}
                    <label class="think-checkbox">
                        <input type="radio" name="status" value='1' lay-ignore> 通过
                    </label>
                    <label class="think-checkbox">
                        <input type="radio" checked name="status" value='{$vo.status|default="0"}' lay-ignore> 审核
                    </label>
                {/if}
            {else}
            <label class="think-checkbox">
                <input type="radio" checked name="status" value='{$vo.status|default="1"}' lay-ignore> 通过
            </label>
            <label class="think-checkbox">
                <input type="radio" name="status" value='{$vo.status|default="0"}' lay-ignore> 审核
            </label>
            {/if}
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">时间</label>
        <div class="layui-input-block">
            <input type="datetime" autofocus name="" value='{$vo.time|default=time()|date="Y-m-d h:i:s",###}'
                   class="layui-input">
            <input type="hidden" autofocus name="time" value='{$vo.time|default=time()}'
                   class="layui-input">
        </div>
    </div>
    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        {if isset($vo['id'])}<input type='hidden' value='{$vo.id}' name='id'/>{/if}
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>
    <script>window.form.render();</script>
</form>
<script type="text/javascript">
    /*
    require(['ckeditor'], function () {
        var editor = window.createEditor('[name="content"]');
        // 设置内容
        editor.setData('{$vo.content|default=""}');

        // 获取内容
        var content = editor.getData();
        //console.log(content);

//        var editor1 = window.createEditor('[name="content1"]');
//        // 设置内容
//        editor1.setData('');
//
//        // 获取内容
//        var content1 = editor.getData();
    });
    */
//上传图片 start
            require(['jquery'], function () {
                var tpl = '<div class="uploadimage transition uploadimagemtl"><a href="javascript:void(0)" class="layui-icon upload-option-button">ဆ</a></div>';
                $('[id="add"]').on('change', function () {
                    var input = this, values = [], srcs = this.value.split('|');
//            alert(this.value);
//                    var src = this.value;
//                    alert(srcs);
//                    alert(typeof srcs);
//                    console.log(src);
//                    $.ajax({
//                        type:"POST",
//                        url:"{:url('article/upload')}",
//                        data:"src="+srcs
//                    });
                    $(this).prevAll('.uploadimage').map(function () {
                        values.push($(this).attr('data-tips-image'));
                    }), $(this).prevAll('.uploadimage').remove();
                    values.reverse();
                    for (var i in srcs) {
                        values.push(srcs[i]);
                    }
                    this.value = values.join('|');
                    for (var i in values) {
                        var $tpl = $(tpl).attr('data-tips-image', values[i]).css('backgroundImage', 'url(' + values[i] + ')');
                        $tpl.data('input', input).data('srcs', values).data('index', i);
                        $tpl.on('click', 'a', function (e) {
                            e.stopPropagation();
                            var $cur = $(this).parent();
                            $.msg.confirm('确定要移除这张图片吗？', function () {
                                var data = $cur.data('srcs');
                                delete data[$cur.data('index')];
                                $cur.data('input').value = data.join('|');
                                $cur.remove();
                            });
                        });
                        $(this).before($tpl);
                    }
                });
            });
//上传 end
</script>
