<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>弹出框</title>
</head>
<body>
    <button class="layui-btn layui-btn-normal" id="box_1">弹出框1</button>
    <button data-method="setTop" class="layui-btn">多窗口模式，层叠置顶</button>
    <script type="text/javascript">
        $('#box_1').on('click', function(){
            layer.open({
                type: 1,
                area: ['600px', '360px'],
                shadeClose: true, //点击遮罩关闭
                title: "yaoMing",
                content: '\<\div style="padding:20px;"><form class="layui-form" method="POST" action="{:url("article/boxData")}"><div class="layui-form-item"> <label class="layui-form-label">单行输入框</label> <div class="layui-input-block"> <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input"> </div> </div> <div class="layui-form-item"> <label class="layui-form-label">验证必填项</label> <div class="layui-input-block"> <input type="text" name="username" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input"> </div> </div><button class="layui-btn layui-btn-normal" id="box_2">弹出框2</button>\<\/div>'
            });
        });

        $('#box_2').on('click', function(){
//            alert('dddd');
            layer.open({
                type: 1,
                area: ['600px', '360px'],
                shadeClose: true, //点击遮罩关闭
                content: '\<\div style="padding:20px;">自定义内容\<\/div>'
            });
        });
//        layui.use('layer', function() { //独立版的layer无需执行这一句
//            var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句
//
//            //触发事件
//            var active = {
//                setTop: function () {
//                    var that = this;
//                    //多窗口模式，层叠置顶
//                    layer.open({
//                        type: 2 //此处以iframe举例
//                        , title: '当你选择该窗体时，即会在最顶端'
//                        , area: ['390px', '260px']
//                        , shade: 0
//                        , maxmin: true
//                        , offset: [ //为了演示，随机坐标
//                            Math.random() * ($(window).height() - 300)
//                            , Math.random() * ($(window).width() - 390)
//                        ]
//                        , content: 'http://layer.layui.com/test/settop.html'
//                        , btn: ['继续弹出', '全部关闭'] //只是为了演示
//                        , yes: function () {
//                            $(that).click();
//                        }
//                        , btn2: function () {
//                            layer.closeAll();
//                        }
//
//                        , zIndex: layer.zIndex //重点1
//                        , success: function (layero) {
//                            layer.setTop(layero); //重点2
//                        }
//                    });
//                }
//            }
//        })
    </script>
</body>
</html>