<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>导入表格</title>
    <link rel="stylesheet" href="__STATIC__/plugs/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__STATIC__/plugs/jquery/ajaxfileupload.js">
</head>
<body>
<!-- 导入excel 开始 -->
<!-- 导入excel 结束 -->
<!--有样式导入 start-->
<!--有样式导入 end-->
<form class="layui-form layui-box" style='padding:25px 30px 20px 0' action="__SELF__" enctype="multipart/form-data" method="post">

<input type="file" class="layui-btn" name="excelImport">
    <br>
    <input type="submit" class="layui-btn default" value="提交">
</form>

<input type ="file" id="ImportPicInput" name= "myfile" style=" display: none" />
<div class ="input-append">
    <label for ="importPicName"> 上传原始图片：</label >
    <input type ="text" class="layui-btn" id="importPicName" />
    <a class ="layui-btn" onclick= "$('#ImportPicInput').click();" >打开</a>
</div >
选择文件:<input type="file" id="file1" /><br />
<input type="button" id="upload" value="上传" />
<!--<img src="wait.gif" style="display:none" id="imgWait"/>-->
<i class="layui-icon layui-anim layui-anim-rotate layui-anim-loop" style="font-size: 30px; color: #1E9FFF;display:none;" id="imgWait" >&#xe63d;</i>
</body>
<script type="text/javascript">
    $(function () {
        $("#upload").click(function () {
//            alert('dddd');
            $("#imgWait").css('display','inner-block');
            var formData = new FormData();
            formData.append("myfile", document.getElementById("file1").files[0]);
            $.ajax({
                url: "{:url('article/import')}",
                type: "POST",
                data: formData,
                /**
                 *必须false才会自动加上正确的Content-Type
                 */
                contentType: false,
                /**
                 * 必须false才会避开jQuery对 formdata 的默认处理
                 * XMLHttpRequest会对 formdata 进行正确的处理
                 */
                processData: false,
                success: function (data) {
                    if (data.status == "true") {
                        alert("上传成功！");
                    }
                    if (data.status == "error") {
                        alert(data.msg);
                    }
                    $("#imgWait").hide();
                },
                error: function () {
                    alert("上传失败！");
                    $("#imgWait").hide();
                }
            });
        });
    });
</script>
</html>