<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>弹出框</title>
</head>
<body>
    <div class="windows" style="text-align:center">
        <button class="layui-btn layui-btn-primary" id="add">open a new windows</button>
    </div>
    <div class="windows1" style="text-align:center;">
        <p>学知识从基础开始</p>
        <button class="layui-btn layui-btn-primary" id="add1">open a new windows</button>
    </div>
    <div class="windows2" style="text-align:center;display:none;">
        <p>如果你还想弹窗则调用layer 的open type=1,然后弹出对应的内容即可。</p>
    </div>
    <script type="text/javascript">
        layer.ready(function(){

            $("#add").bind("click", function() {
                var oBox = $('.windows1');
                layer.open({
                    type: 0,
                    title: '欢迎页',
                    maxmin: true,
                    area: ['400px', '250px'],
                    content: oBox,
                });
            });

            $("#add1").bind("click", function() {
                layer.open({
                    type: 1,
                    title: '欢迎页',
                    maxmin: true,
                    area: ['250px', '150px'],
                    content: $('.windows2'),
                });
            })
        });

        //关于
        $('#about').on('click', function(){
            layer.alert(layer.v + ' - 贤心出品 sentsin.com');
        });
//        layui.use('layer', function() { //独立版的layer无需执行这一句
//            var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句
//
//            //触发事件
//            var active = {
//                setTop: function () {
//                    var that = this;
//                    //多窗口模式，层叠置顶
//                    layer.open({
//                        type: 2 //此处以iframe举例
//                        , title: '当你选择该窗体时，即会在最顶端'
//                        , area: ['390px', '260px']
//                        , shade: 0
//                        , maxmin: true
//                        , offset: [ //为了演示，随机坐标
//                            Math.random() * ($(window).height() - 300)
//                            , Math.random() * ($(window).width() - 390)
//                        ]
//                        , content: 'http://layer.layui.com/test/settop.html'
//                        , btn: ['继续弹出', '全部关闭'] //只是为了演示
//                        , yes: function () {
//                            $(that).click();
//                        }
//                        , btn2: function () {
//                            layer.closeAll();
//                        }
//
//                        , zIndex: layer.zIndex //重点1
//                        , success: function (layero) {
//                            layer.setTop(layero); //重点2
//                        }
//                    });
//                }
//            }
//        })
    </script>
</body>
</html>