<!--<form class="layui-form layui-box" style='padding:25px 30px 20px 0' action="__SELF__" data-auto="true" method="post">-->

    <!--<div class="layui-form-item">-->
        <!--<label class="layui-form-label">标题</label>-->
        <!--<div class="layui-input-block">-->
            <!--{if $vo and isset($vo.title)}-->
            <!--<input readonly="readonly" disabled="disabled" name="title" value='{$vo.title|default=""}'-->
                   <!--required="required" title="请输入标题" placeholder="请输入标题" class="layui-input layui-disabled">-->
            <!--{else}-->
            <!--<input name="title" value='{$vo.title|default=""}' required="required" pattern="^.{1,}$"-->
                   <!--title="请输入文章标题" placeholder="请输入" class="layui-input">-->
            <!--{/if}-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="layui-form-item">-->
        <!--<label class="layui-form-label">作者</label>-->
        <!--<div class="layui-input-block">-->
            <!--<input type="tel" autofocus name="author" value='{$vo.author|default=""}' pattern="^.{1,}$"-->
                   <!--title="请输入作者" placeholder="请输入作者" class="layui-input">-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="layui-form-item">-->
        <!--<label class="layui-form-label">联系邮箱</label>-->
        <!--<div class="layui-input-block">-->
            <!--<input name="mail" pattern="^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$"-->
                   <!--value='{$vo.mail|default=""}' title="请输入联系邮箱" placeholder="请输入联系邮箱" class="layui-input">-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="layui-form-item">-->
        <!--<label class="layui-form-label">状态</label>-->
        <!--<div class="layui-input-block">-->
            <!--{if $vo.status == 1}-->
            <!--<label class="think-checkbox">-->
                <!--<input type="checkbox" checked name="status" value="{$vo.id}" lay-ignore> 通过-->
            <!--</label>-->
            <!--{else}-->
            <!--<label class="think-checkbox">-->
                <!--<input type="checkbox" name="status" value="{$vo.id}" lay-ignore> 审核-->
            <!--</label>-->
            <!--{/if}-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="layui-form-item">-->
        <!--<label class="layui-form-label">用户描述</label>-->
        <!--<div class="layui-input-block">-->
            <!--<textarea placeholder="请输入用户描述" title="请输入用户描述" class="layui-textarea"-->
                      <!--name="desc">{$vo.desc|default=""}</textarea>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="hr-line-dashed"></div>-->

    <!--<div class="layui-form-item text-center">-->
        <!--{if isset($vo['id'])}<input type='hidden' value='{$vo.id}' name='id'/>{/if}-->
        <!--<button class="layui-btn" type='submit'>保存数据</button>-->
        <!--<button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>-->
    <!--</div>-->
    <!--<script>window.form.render();</script>-->
<!--</form>-->
<p>姚明</p>
