<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加文章</title>
</head>
<body>
    <p>添加文章</p>

    <div style="position:relative;width:500px">
        <div class="input-group">
            <input type="text" class="form-control" name="file_3" placeholder="请选择ZIP文件...">
            <a class="input-group-addon" data-file="one" data-type="zip" data-uptype="local" data-field="file_3">
                <i class="fa fa-file"></i>
            </a>
        </div>
    </div>
    <form class="layui-form layui-box" style='padding:25px 30px 20px 0' action="__SELF__" data-auto="true" method="post">

        <div class="layui-form-item">
            <label class="layui-form-label">权限名称</label>
            <div class="layui-input-block">
                <input type="text" name="title" value='{$vo.title|default=""}' required="required" title="请输入权限名称" placeholder="请输入权限名称" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">权限描述</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入权限描述" required="required" title="请输入权限描述" class="layui-textarea" name="desc">{$vo.desc|default=""}</textarea>
            </div>
        </div>

        <div class="hr-line-dashed"></div>

        <div class="layui-form-item text-center">
            {if isset($vo['id'])}<input type='hidden' value='{$vo.id}' name='id'/>{/if}
            <button class="layui-btn" type='submit'>保存数据</button>
            <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
        </div>

    </form>
</body>
</html>